﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
   /*  max-width: 400px;
    margin-bottom:0px; */
}

.inputrow {
margin-bottom:0px;
}

.aman {
    overflow-wrap: break-word;
}

#UserControlContentPlaceHolder_pageTitle {
    margin-left: 30px;
}
#UserControlContentPlaceHolder_pageAuthorName {
    margin-left: 10px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
