﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="DeletePage.aspx.cs" Inherits="FinalProject5101.DeletePage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:SqlDataSource runat="server" id="deletepage_query" ConnectionString="<%$ ConnectionStrings:webpagedb_con %>">
    </asp:SqlDataSource>
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="HeadingContentPlaceHolder" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="UserControlContentPlaceHolder" runat="server">
    <div class="resultbox" id="result" runat="server"></div>
</asp:Content>
